@model ASPNET_MVC.ViewModels.ProductViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "_Layout";
}

<h4>Usuwanie produktu</h4>

<h5>Czy na pewno chcesz usunąć ten produkt z listy?</h5>
<div>
    
    <hr />
    
    @{ var categoryId = Model.EditableProduct.CategoryId;}

    <dl class="row">
        <dt class="col-sm-2">
            Nazwa
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditableProduct.Name)
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditableProduct.Description)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.EditableProduct.Id" />
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <input type="submit" value="USUŃ" class="btn btn-danger" />
                </div>

            </div>

            <div class="col-sm-2">
                <div>
                    <a href="@Url.Action("Index", "Product", new {categoryId = categoryId})" class="btn btn-info">Powrót do listy</a>
                </div>
            </div>
        </div>
    </form>
</div>
