@using Microsoft.EntityFrameworkCore
@model List<ASPNET_MVC.ViewModels.CategoryViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<div style="font-family:Arial">
    
    <h2>Category List</h2>
    <ul>
        @foreach (var item in Model)

        {
            <li>
                @item.Name    
                @*<a href="@Url.Action("Index","Product",new{categoryId = item.Id})" class="btn btn-default" >@item.Name</a>*@
                <a asp-action="Index" asp-route-id="@item.Id" , asp-controller="ProductCategory" , class="btn btn-primary">Zobacz produkty</a>
            </li>
        }
    </ul>
</div>