@using Microsoft.EntityFrameworkCore
@model ASPNET_MVC.ViewModels.CategoryViewModel

@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}
                        <div class="row">
                            <table class="table table-bordered table-striped table-condensed" , style="border: 2px solid darkblue;">
                                <thead>
                                    <tr>
                                        <th class="col-md-6" , style="background: rgb(27,45,94)">
                                            <div class="caption" , style="vertical-align: middle;
   text-align: center; color: white;
   text-shadow: 2px 2px 1px rgba(255,255,255,.5); font: normal 22px Georgia, sans-serif;
                                                                                                                                                                                                                                                                                            letter-spacing: 2px;
                                                                                                                                                                                                                                                /*padding: 15px 0;*/">Nazwa kategorii</div>
                                        </th>
                                        <th class="col-md-6" , style="background: rgb(27,45,94)">
                                            <div class="caption" , style="vertical-align: middle;

             text-align: center; color: white;
             text-shadow: 2px 2px 1px rgba(255,255,255,.5);
             font: normal 22px Georgia, sans-serif;
             letter-spacing: 2px;">Opcja</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="tableBody" , style="background:grey vertical-align: middle; text-align: center; color: black; font-size: 20px">
                                    @foreach (var item in Model.Categories)
                                    {
                                    <tr>
                                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                        @*<td>
                                            <a asp-controller="Product" asp-action="Index" asp-route-id="@item.Id" , class="btn btn-primary">Zobacz produkty</a>
                                        </td>*@
                                    <td>
                                    <a href="@Url.Action("Index", "Product", new {categoryId = item.Id})" class="btn btn-primary">Zobacz produkty</a>
                                    </td>
        
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>